@import "tailwindcss";

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
.img-shape{
    clip-path: polygon(38% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.left-img-shape{
    clip-path: polygon(0 0, 68% 0, 100% 100%, 0 100%);
}
